RewriteEngine On
Options -Indexes
ServerSignature Off

# Permitir el acceso directo a archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]

<Files .htaccess>
order allow,deny
deny from all
</Files>
